<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewsLetter</servlet-name>
        <servlet-class>Database.NewsLetter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactUs</servlet-name>
        <servlet-class>Database.ContactUs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reviewUS</servlet-name>
        <servlet-class>Database.reviewUS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImg</servlet-name>
        <servlet-class>UploadImage.UploadImg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHotelsResponse</servlet-name>
        <servlet-class>UploadImage.AdminHotelsResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadHotelImg</servlet-name>
        <servlet-class>UploadImage.UploadHotelImg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPlacesResponse</servlet-name>
        <servlet-class>UploadImage.AdminPlacesResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadPlaceImg</servlet-name>
        <servlet-class>UploadImage.UploadPlaceImg</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewsLetter</servlet-name>
        <url-pattern>/NewsLetter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactUs</servlet-name>
        <url-pattern>/ContactUs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reviewUS</servlet-name>
        <url-pattern>/reviewUS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadImg</servlet-name>
        <url-pattern>/UploadImg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHotelsResponse</servlet-name>
        <url-pattern>/AdminHotelsResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadHotelImg</servlet-name>
        <url-pattern>/UploadHotelImg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPlacesResponse</servlet-name>
        <url-pattern>/AdminPlacesResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadPlaceImg</servlet-name>
        <url-pattern>/UploadPlaceImg</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
           D:\Udit\img\
        </param-value>
    </context-param>
</web-app>
